<!--<div style="text-align:center">
  <h1>
      Welcome to {{title}}!
      {{message}}
  </h1>
<img width="300" alt="Angular Logo" src="assets/img/angular-logo.png"/>
</div>-->
<!--<app-welcome></app-welcome>-->

<!-- <app-login></app-login> -->

<!-- MyProject Application Header/Menu
<br>
<br> -->

<app-menu></app-menu>

<div class="container">
<router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<!-- <br>
<br>
MyProject Application Footer -->


<!--<div>Component Content</div>-->
<!--https://angular.io/assets/images/logos/angular/logo-nav@2x.png
-->